<div class="results-block">
  <%= render 'layouts/messages' %>
</div>
<%# Only load the page data if the @stock variable exists %>
<%# On first load, this will not exist, because a stock query has not yet been requested %>
<% if @stock %>
  <div class="card card-header results-block">
  <%# comes from the controller %>
    <strong>Symbol: </strong><%= @stock.ticker %>
    <strong>Name: </strong><%= @stock.name %>
    <strong>Price: </strong><%= @stock.last_price %>

    <%# these methods come from the user model %>
    <%# if the user is able to track stock, show the "add to portfolio" button %>
    <%# if not, then you either are tracking too many stocks (> 10), or you are already tracking a stock that you are trying to track again %>
    <% if current_user.can_track_stock?(@stock.ticker) %>
      <%= link_to 'Add to Portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker), class: "btn btn-success", method: :post  %>
    <% else %>
      <span class="badge badge-secondary">
        You are already tracking
        <% if !current_user.under_stock_limit? %>
          10 stocks
        <% end %>
        <% if current_user.stock_already_tracked?(@stock.ticker) %>
          This stock
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>
