<div class="results-block">
  <%= render 'layouts/messages' %>
</div>
<%# Only load the page data if the @stock variable exists %>
<%# On first load, this will not exist, because a stock query has not yet been requested %>
<% if @friends %>
  <div class="card card-header results-block">
  <table class="col-md-12">
  <tbody>

    <% @friends.each do |friend| %>
    <tr>
      <%# comes from the controller %>
      <td><strong>Name: </strong><%= friend.full_name %></td>
      <td><strong>Email: </strong><%= friend.email %></td>
      <td><strong>Actions: </strong><%= link_to "View Profile", '#', class: "btn btn-sm btn-success"%>
      <%# these methods come from the user model %>
      <%# if the user is able to track stock, show the "add to portfolio" button %>
      <%# if not, then you either are tracking too many stocks (> 10), or you are already tracking a stock that you are trying to track again %>
      <% if current_user.not_friends_with?(friend.id %>
      <%= link_to 'Add to Portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker), class: "btn btn-success", method: :post  %></td>
      <% else %>
      <span class="badge badge-secondary">You are already friends</span>
      <% end %>
    </tr>
    <% end %>
    </tbody>
    </table>
  </div>
<% end %>
